<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>890121938966-ovv8ce95bn50kdpbo8ubpdv8l3qog7ca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890121938966-ovv8ce95bn50kdpbo8ubpdv8l3qog7ca</string>
	<key>API_KEY</key>
	<string>AIzaSyDebO3rN-hZe3KcX3SEfikKZk1z3VR3XtI</string>
	<key>GCM_SENDER_ID</key>
	<string>890121938966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.codeyard.BeerPong</string>
	<key>PROJECT_ID</key>
	<string>beerpong-3f87f</string>
	<key>STORAGE_BUCKET</key>
	<string>beerpong-3f87f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:890121938966:ios:a1b26e65a1ef9fee</string>
	<key>DATABASE_URL</key>
	<string>https://beerpong-3f87f.firebaseio.com</string>
</dict>
</plist>